*{margin:0;padding:0;}
body {font:14px/1.8 'Microsoft Yahei', verdana;}
ul,li{list-style: none;}

.header{display: none;position: fixed;top:0;}
/* 右侧导航 */
.fullPage-menu {
    position: fixed; top:50%;right:15px;z-index:100;
    opacity:1;-ms-filter:none;filter:none;
    _display: none; font-size: 12px;

    transition: right 0.7S cubic-bezier(0.825, 0, 0.5, 1);
    -webkit-transition: right 0.7S cubic-bezier(0.825, 0, 0.5, 1);
    -moz-transition: right 0.7S cubic-bezier(0.825, 0, 0.5, 1);
    -o-transition: right 0.7S cubic-bezier(0.825, 0, 0.5, 1);
    -ms-transition: right 0.7S cubic-bezier(0.825, 0, 0.5, 1);
}
.fullPage-menu li {
    display: block;
    position: relative;
}
.fullPage-menu li a {
    position: relative;
    z-index: 1;
    display: block;
    width: 4px;
    height:4px;
    padding:10px;
    cursor: pointer;
    text-decoration: none;
}
.fullPage-menu span {
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background-color: #333;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.fullPage-menu .active span {
    background: none;
    border:1px solid #000;
    left: 6px;
    top:6px;
    width:10px;
    height:10px;
}

.section { position: relative; overflow: hidden;}
.section .bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.section .bg img { display: block; width: 100%; height: 100%;}

/**
 * fullPage 1.4.5
 * https://github.com/alvarotrigo/fullPage.js * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */

